## Please refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners 
## for the CODEOWNERS documentation.
## 
## Order is important; the last matching pattern takes the most precedence.


## backend files

/backend/internal/authnprovider/ @darshanasbg @ThumulaPerera
/backend/internal/userprovider/ @darshanasbg @ThumulaPerera
/backend/internal/user/ @darshanasbg
/backend/internal/userschema/ @darshanasbg
/backend/internal/group/ @darshanasbg
/backend/internal/ou/ @darshanasbg

/backend/internal/application/ @ThaminduDilshan @thiva-k
/backend/internal/authn/ @ThaminduDilshan
/backend/internal/consent/ @ThaminduDilshan
/backend/internal/design/ @ThaminduDilshan @brionmario
/backend/internal/flow/ @ThaminduDilshan
/backend/internal/idp/ @ThaminduDilshan
/backend/internal/notification/ @ThaminduDilshan
/backend/internal/oauth/ @ThaminduDilshan @thiva-k

/backend/internal/authz/ @senthalan
/backend/internal/resource/ @senthalan
/backend/internal/role/ @senthalan
/backend/internal/system/mcp/ @senthalan @thiva-k
/backend/internal/system/middleware/ @senthalan
/backend/internal/system/security/ @senthalan
/backend/internal/system/sysauthz/ @senthalan

/backend/internal/system/cache/ @rajithacharith @ThaminduDilshan
/backend/internal/system/config/ @rajithacharith
/backend/internal/system/context/ @rajithacharith
/backend/internal/system/database/ @rajithacharith
/backend/internal/system/declarative_resource/ @rajithacharith
/backend/internal/system/export/ @rajithacharith
/backend/internal/system/http/ @rajithacharith
/backend/internal/system/i18n/ @rajithacharith
/backend/internal/system/log/ @rajithacharith @ThaminduDilshan
/backend/internal/system/observability/ @rajithacharith @sahandilshan

/backend/internal/cert/ @hwupathum @ThaminduDilshan
/backend/internal/system/crypto/ @hwupathum
/backend/internal/system/jose/ @hwupathum


## architectural decision records

/docs/adrs/ @darshanasbg @madurangasiriwardena


## scripts

/backend/dbscripts/ @rajithacharith @darshanasbg


## frontend files

/frontend/apps/console/ @DonOmalVindula
/frontend/apps/gate/ @brionmario
/frontend/packages/ @jeradrutnam @brionmario @DonOmalVindula


## deployment files

/install/helm/ @ayeshajay @rajithacharith


## sample apps

/samples/apps/ @brionmario @DonOmalVindula
